body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url('paraiso.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}
section {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;

}

.contenedores {
  
    text-align: center;
}

.contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color:  rgba(255, 12, 12, 0.8);
    color: #ff0000; 
    text-decoration: none; 
    cursor: pointer; 
   }
   
   a:hover {
    color: #0056B3; 
    text-decoration: underline; 
   }