body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  h1 {
    font-size: 100px;
    text-align: center; 
    font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
  }

.label-menu{
    position: absolute;
    top: 16px;
    right: 16px; 
    z-index: 1;
}
.menu{
    display: none;
    
}
.menu:checked + div{
    transform: translateX(0);
}
.enlaces-menu{
    transform: translateX(-200%);
}

.material-symbols-outlined{
  font-size: 80px;
}
@media screen and (min-width: 768px){
    .label-menu{
        display: none;  
    }
    .enlaces-menu{
        transform: translateX(0);      
    }
}
  header {
    text-align: center; 
    background-image: url('/assests/fondo.jpg'); 
    background-size: cover; 
    color: #ffffff;
    padding: 20px;
  }
  img {
        width: 100px; 
        height: auto; 
    }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fcfcfc;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  section {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(240, 235, 235, 0.959);
  }
  .iframe{
    width: 90%;
    height: 250px;
  }
  
  footer {
    background-image: url('/assests/fondo.jpg'); 
    background-size: cover;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  